.balance-card-background {
    background: #F8F9FA;
    padding: 10px;
    border-radius: 14px;
    border: 1px solid #2C3E50; /* Koyu siyah kalın çizgi */
    box-shadow: 0 4px 6px rgba(2, 56, 98, 0.9);
    margin-top: 1px!important;
}

.balance-total-balance {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    height: 35px;
}

.balance-card-title-p {
    padding-right: 10px;
    font-weight: bold;
    font-size: 20px;
}

.spot-to-future-background {
    background: #b1d9ff;
    border-color: black;
    border-radius: 14px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

    color: #000000;
    cursor: pointer;

    display: flex;
    align-items: center;
}

.spot-to-future-button-active {
    background: #2C3E50;
    border-color: black;
    border-radius: 14px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px 45px 10px 45px;

    color: white;
    cursor: pointer;

}

.spot-to-future-button-passive {
    background: transparent;
    padding: 10px 45px 10px 45px;
    color: black;
    cursor: pointer;

}

.spot-to-future-input {
    margin-left: 5px;
    max-height: 34px;
    max-width: 100px;
}

.spot-to-future-send-button {
    background: #2C3E50;
    border-color: black;
    border-radius: 14px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px 25px 10px 25px;
    margin: 0 0 0 5px;
    color: white;
    cursor: pointer;
}

.spot-to-future-input-button-background {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
