.header-background {
    height: 80px;
    background: #2C3E50;
}

.header-background-social-media {
    min-height: 70px;
    background: #2C3E50;
    display: flex;
    padding-right: 50px;
    align-items: center;
    justify-content: flex-end;
}



.header-app-logo {
    margin: 8px 10px 8px 16px ;
    cursor: pointer;
}

.navbar__leftbar {
    display: flex;
}

.header-left-side-logo {
    display: flex;
    /*justify-content: center;*/
    align-items: center;
}

.navbar__search {
    height: 40px;
    width: 190px;
    border-radius: 25px;
    border: 0px;
    background-color: #EFF2F5;
    font-size: 16px;
    padding-left: 30px;
    margin-top: 8px;
}

.navbar__container {
    display: flex;
    margin-top: 10px;
    margin-left: 60px;
    justify-content: center;
}

.website-name {
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding-right: 20px;
    font-family: "Poppins", sans-serif;
}

.navbar__tabs {
    width: 120px;
    height: 45px;
}

.header-logo-title {
    display: flex;
    flex-wrap: nowrap;
    padding-right: 55px;
    color: white;
    align-items: center;
    cursor: pointer;
}

.back-to-social-media-icon {
    padding-top: 13px;
    width: 35px;
    height: 45px;
    color: white;
}


.navbar__righttab {
    display: flex;
    margin-left: 40px;
    justify-content: center;
    align-items: center;
}

.header-profile-page {
    margin-top: 15px;
    margin-right: 10px;
    max-width: 50px;
    max-height: 50px;
    cursor: pointer;
}

.navbar__profilename{
    margin-top: 20px;
    font-weight: 600;
    color: white;
}

.social-media-botton {
    background: white;
    border-color: black;
    border-radius: 14px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding-left: 25px;
    padding-right: 25px;
    color: black;
    cursor: pointer;
}

.back-to-social-media {
    color: white;

}